# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/
vendor/

# Environment variables
.env
.env.local
.env.*.local

# PHP
composer.phar

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Data and storage
data/
storage/

# Testing
.phpunit.result.cache
phpunit.xml

tmp
.phpunit.cache/test-results
/public/debug.php
/back/public/admin/
/back/.phpunit.cache/test-results


#java
.gradle
classes/
build
buildSrc/build
buildUtils/*/build
target/
/java/bin/
/back/bin/
/back/src/main/resources/META-INF/resources/admin/
