.git
.github
.gitignore
.gitlab-ci.yml
.editorconfig
.vscode
.idea
.DS_Store
*.md
LICENSE
Makefile
docker-compose*.yml
Dockerfile
.env
.env.local
node_modules
npm-debug.log
admin/dist
admin/node_modules
back/vendor
back/logs
back/data
back/tests
back/.htaccess
.taskmaster
